/* CSS Styling for RunTime project */

.landing-page-basketball-gif
{
    width: 60%;
    height: auto;
    border-style: outset;
    border-color: #15438a;
    border-width: 8px;
}

.landing-page-title
{
    font-size: 45px;
    /* font-weight: bold; */
}

.navbar_style
{
    padding: 10px;
    border-radius: 10px;
    border-width: 2px;
    border-bottom-width: 2px;
    border-bottom-color: White;
    border-bottom-style: solid;
}

.project_font
{
    font-family: 'Arial';
}